 .nav{
    border-top: 3px solid;
    border-left: 3px solid;
    border-right: 3px solid;
}
.Main-container{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 15px;
    border: 3px solid;   
     min-height: 60vh;
}
.row .header{
    height: 60px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}
.header{
    background-color: rgb(141, 117, 219);
    border: 3px solid;
    width: 95%;
    height: 100px;
}
.box1{
    background-color: rgb(216, 111, 111);
   
    border: 3px solid;
    width: 30%;
    height: 600px;
}
.box2{
    background-color: rgba(110, 187, 148, 0.514);
 
    border: 3px solid;
    width: 30%;
    height: 600px;
}
.box3{
    background-color: rgb(250, 164, 6);
    border: 3px solid;
    width: 30%;
    height: 600px;
} 
